<div class="container">
	
		<div class="row">
			<div class="span6">
				<div id="carousel" class="carousel slide" >
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><%= image_tag "SCSBanner5.jpg"%></div>
			    <div class="item"><%= image_tag "SCSBanner6.jpg"%></div>
			   	<div class="item"><%= image_tag "SCSBanner7.jpg"%></div>
			  </div>
			  <!-- Carousel nav
			  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>-->
			</div>
			</div>
			<div class="span6">
				<div style="float:bottom">
				<h4>Nous Sommes</h4>
				<p  style="text-align:justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor molestie urna, sit amet facilisis mauris laoreet et. Praesent fermentum magna id mi sollicitudin vitae condimentum mi hendrerit. Praesent quis neque ut orci condimentum aliquam. Nulla sed orci ac dolor vestibulum porta ac et ipsum. Fusce vel sapien sed quam scelerisque porta non eu lectus. Proin id lorem non lacus interdum vulputate. Maecenas a justo quis neque rutrum pharetra commodo nec elit.  Praesent fermentum magna id mi sollicitudin vitae condimentum mi hendrerit. Praesent quis neque ut orci condimentum aliquam. Nulla sed orci ac dolor vestibulum porta ac et ipsum.</p>
				<h4>Nos Valeurs</h4>
				<p  style="text-align:justify"> Praesent ut eros nulla, et pretium nulla. Proin gravida turpis interdum enim vulputate feugiat. Nulla facilisi. Proin in dolor magna, eget dignissim lacus. Suspendisse nulla ipsum, gravida eu ultrices suscipit, fringilla vel sem. Integer ante justo, vehicula et condimentum quis, hendrerit id nibh. Proin arcu lacus, ornare eu vehicula eu, tincidunt sed felis.Nullam eleifend ante nec tellus vehicula at lacinia lectus rutrum. Mauris vel augue magna. Ut cursus bibendum condimentum. Proin adipiscing dui vitae dui dapibus molestie. Praesent fermentum magna id mi sollicitudin vitae condimentum mi hendrerit. Praesent quis neque ut orci condimentum aliquam. Nulla sed orci ac dolor vestibulum porta ac et ipsum.</p>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="row">
					
					<div class="span3">
						<div style="height:160px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;text-align:justify;border-top:1px solid #a2a2a2">
					<h4>Un Service</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nulla nibh. Proin tortor erat, pretium vel malesuada blandit, posuere ac enim. Sed eu ante mi, sed consectetur odio. Morbi nisl dolor, dapibus quis congue quis, blandit vitae massa.</p>
					</div>
					</div>
					<div class="span3">
						<div style="height:160px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;text-align:justify;border-top:1px solid #a2a2a2">
					<h4>Un Autre Service</h4>
					<p>Nullam sodales felis vitae metus vehicula sed dictum nisl fringilla. In eget nibh sed dui ultrices faucibus. Aenean faucibus ornare ante. Quisque viverra semper leo sed lacinia. Ut cursus bibendum condimentum. Proin adipiscing dui vitae dui dapibus molestie.</p>
					</div>

					</div>
				</div>
				<div class="row">
						<div class="span3">
							<div style="height:160px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;text-align:justify;border-top:1px solid #a2a2a2">
							<h4>Encore un Service</h4>
							<p>Nam sem magna, commodo id laoreet quis, molestie in dolor. Maecenas lorem neque, tempor quis tempor in, consequat eget ante. Vestibulum pellentesque sodales lorem, sed consequat justo facilisis at. Cras rhoncus orci ut eros gravida eget facilisis tellus pretium. </p>
						</div>
					</div>
					
					<div class="span3">
					<div style="height:160px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;text-align:justify;border-top:1px solid #a2a2a2">
					<h4>Où Nous Trouver</h4>
					<p>Proin est purus, dapibus non tincidunt ut, molestie eu erat. Suspendisse laoreet dictum hendrerit. Suspendisse ultricies, ipsum bibendum suscipit rutrum, lorem elit vehicula tellus, a luctus tellus magna a purus. Pellentesque pretium felis ut dui lobortis nec fringilla augue eleifend. </p>
					</div>
					</div>

				</div>
			</div>
			<div class="span6">
				<%= image_tag "SCSEau.jpg"%>
			</div>
		</div>
	<script>
		$('.carousel').carousel({interval: 5000})
	</script>
	
</div>