
  <footer class="footer">
    <nav class="navbar">
      <div class="container">
      <small class="span12" style="text-align:center">
        <a> Swiss Corporate Services: 16 Avenue du Je ne sais quoi 1207 Genève +41 22 329 08 07 info@scs.ch</a>
      </small>
      </div>
    </nav>
  </footer>
