<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <h1>SWISS CORPORATE SERVICES</h1>
    </div>
  </nav>
</header>

  <nav class="navbar-outer">
    <div class="container">
      <ul class="nav nav-pills">
        <li><h4>Présentation </h4></li>
        <li><h4> Services</h4></li>
        <li style="float:right"><h4>Contact</h4></li>
      </ul>
      </hr>
    </div>
  </nav>
